@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hero-section {
  padding: 10px 0; 
  position: relative;
  display: flex;
  align-items: center;
}
s
.hero-section .text-content {
  color: #000;
  padding-right: 20px;
  margin-top: -70px;
}

.hero-section .text-content h1 {
  font-size: 3rem; 
  font-family: "Poppins", serif;
  margin-bottom: 15px;
  font-weight: 800;
}

.hero-section .text-content p {
  font-size: 1rem; 
  line-height: 1.6; 
}

.hero-section .text-content .get {
  padding: 8px 20px; 
  font-size: 0.9rem;
}



.get{
  padding: 8px 20px; 
  font-size: 0.9rem;
  background-color: #723FEB;
  border: none;
  border-radius: 40px;
  color: #fff;
}

.get:hover {
  background-color: #3300cc;
  color: #fff;
}

@media (max-width: 768px) {
  .get {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .hero-section h1{
font-size: 1.5rem !important;
  }
.hero-section .text-content{
  margin-top: 0;
}
  

  .hero-section .text-content p {
    font-size: 0.9rem; 
  }

  .hero-section .text-content .get {
    padding: 8px 20px; 
    font-size: 0.9rem;
  }

  .illustration-img {
    max-width: 85%; 
    animation: float 3s ease-in-out infinite;
  }

  .hero-section .row {
    align-items: center; 
  }


}

.illustration-img {
  max-width: 85%; 
  animation: float 3s ease-in-out infinite;
}

.hero-section .row {
  align-items: center; 
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
